/* Master levels */

body {
    min-height: 680px;
    min-width: 1440px;
    max-height: 680px;
    max-width: 1440px;
    background-image: url("/images/wood_light.jpg");
    background-size: cover;
}

#render-target {
    height: 100%;
    width: 100%;
}

.ui.container {
    height: 100%;
}


/* LoginForm levels */

.ui.segment {
    background: rgba(255, 255, 255, 0.75);
}


/* GameList levels */

.ui.attached.segment {
    background: rgba(255, 255, 255, 0.75);
}

.ui.top.attached.header {
    background: rgba(255, 255, 255, 0.75);
}


/* GameBoard levels */

/* Rows */
.row {
    padding: 10px;   
}

#mainRow {
    height: 90%;
}

#topRow {
    height: 7%;
}

/* topRow items */

.topButton {
    position: relative;
    float: left;
}

.messageArea {
    width: 87.65%;
    height: 36px;
    position: relative;
    float: left;
    color: #F4F1DE;
    background-color: black;
    opacity: 50%;
    padding: 0.6%;
}

/* Columns */

.column {
    float: left;
    width: 49.5%;
    height: 100%;
    position: relative;
    padding: 1%;
    border-radius: 5px;
    background-color: #F4F1DE;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column.smart {
    box-shadow: 5px 5px 5px grey;
}

.column.dummy {
    padding: 0%;
    border: 0px solid black;
    background-color: transparent;
}

#dummyColumn1 {
    width: 1%;
}

#dummyColumn2 {
    height: 2%;
}

#tableColumn {
    height: 71%;
}

#pointsColumn {
    height: 27%;
}

/* Areas */

.area {
    width: 100%;
    position: relative;
    padding: 2%;
    border-radius: 5px;
}

#handArea {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 13px;
    padding-right: 13px;
    height: 520px;
    width: 676px;
    background-color: #9B6A6C;
}

#diArea {
    height: 72%;
    background-color: peachpuff;
    text-align: center;
}

#pointsArea {
    height: 67%;
    text-align: center;
    background-color: floralwhite;
    border: 1px dashed gray;
}

/* Banners */

.banner {
    height: 20px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

/* Table area */

#tableArea {
    height: 72%;
}

.playerArea {
    float: left;
    width: 50%;
    height: 48%;
    position: relative;
    padding: 2%;
    text-align: center;
    border-radius: 5px;
}

#tableAreaShadow{
    width: 100%;
    height: 96%;
    position: relative;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: black;
    opacity: 65%;
}

.tableBanner {
    width: 100%;
    height: 15px;
    position: relative;
}


/* Next area */

#nextArea {
    height: 24%;
    position: relative;
    text-align: center;
}

.nextAreaWaitText {
    color: orange;
    font-style: italic;
    font-size: 15px;
}

#nextAreaPlaceholder {
    width: 50px;
    height: 50px;
}

/* Table area items */

#zhuImage {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 15px;
}

/* Hand area items */

.quarter-circle-top-right{
     position: absolute;
     width: 130px;
     height: 130px;
     top: 0px;
     right: 0px;
     background: orange;
     border-radius: 0 0 0 130px;
}

#landingArea {
    /* dimentions and offsets are adjusted by border stroke width to align with card objects */
    position: absolute;
    width: 56px;
    height: 76px;
    top: 20-3px;
    right: 13-3px;
    text-align: center;
    border: 3px dashed white;
}

#landingText {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.handAreaLine {
  position: absolute;
  left: 15-4px;
  height: 3px;
  width: 500+8px;
  border: none;
  border-top: 5px solid white;  
  border-radius: 15px;
  box-shadow: 2px 2px 5px white;
  Opacity: 75%;
}

#playerRole {
    position: absolute;
    top: 20px;
    left: 15px;
}

/* round buttons */

.roundCornerButton {
    position: absolute;
    top: 6px;
    right: 13px;
    width: 40px;
    height: 40px;
    border: none;
}

#roundCornerButtonDraw {
    background: url("/images/button_draw.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonDraw:hover {
    background: url("/images/button_draw_hover.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonDraw:disabled {
    background: url("/images/button_draw_disabled.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonEndTurn {
    background: url("/images/button_end_turn.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonEndTurn:hover {
    background: url("/images/button_end_turn_hover.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonEndTurn:disabled {
    background: url("/images/button_end_turn_disabled.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonSeePrevTable {
    background: url("/images/button_see_prev_table.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonSeePrevTable:hover {
    background: url("/images/button_see_prev_table_hover.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonSeePrevTable:disabled {
    background: url("/images/button_see_prev_table_disabled.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonClearPrevTable {
    background: url("/images/button_clear_prev_table.png") no-repeat;
    background-size: 100% 100%;
}

#roundCornerButtonClearPrevTable:hover {
    background: url("/images/button_clear_prev_table_hover.png") no-repeat;
    background-size: 100% 100%;
}

/* Modal */

.modal {
    position: absolute;
    width: 500px;
    height: 250px;
    padding: 2%;
    top: 57%;
    left: 50%;
    margin-left: -250px;
    margin-top: -125px;
    background-color: #F3B3A6;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    z-index: 10000;
}

.modal:focus {
  outline: none;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 10000;
}

.modalBanner {
    height: 20px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.modalWaitText {
    color: gray;
    font-style: italic;
}

/* Card */

.handle {
    cursor: pointer;
}

.handle:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.handle:active {
    cursor: pointer;
    margin: -3px;
    border: 3px solid orange;
    border-radius: 3px;
    filter: brightness(90%);
}
