table.game-board {
  margin: auto;

  tr td {
    border: 1px solid black;
    width: 120px;
    height:120px;
    font-size: 80px;
    text-align: center;
  }
}

body {
    height: 95vh;
}

#render-target {
    height: 100%;
}

.ui.container {
    height: 100%;
}

.row {
    height: 75%;
}

.column {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    padding: 25px;
}

.banner {
    height: 5%;
    position: relative;
}

.handArea {
    height: 70%;
    width: 100%;
    position: relative;
}

.diArea {
    height: 25%;
    width: 100%;
    position: relative;
}

.tableArea {
    height: 22.5%;
    width: 100%;
    position: relative;
}

.tableBanner {
    height: 22.22%;
    width: 100%;
    position: relative;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.handle {
	cursor: pointer;
	z-index:999;
}
