body {
    height: 95vh;
}

#render-target {
    height: 100%;
    width: 100%;
    min-height: 660px;
    min-width: 1300px;
}

.ui.container {
    height: 100%;
}

.ui.attached.center.aligned.segment {
    height: 110px;
}

.row {
    height: 77%;
    padding: 1%;
}

.column {
    float: left;
    width: 49%;
    height: 100%;
    position: relative;
    padding: 1%;
    border-radius: 15px;
    border: 1px solid black;
    background-color: honeydew;
}

#dummyColumn1 {
    width: 2%;
    padding: 0%;
    border: 0px solid black;
    background-color: transparent;
}

#tableColumn {
    height: 67%;
}

#dummyColumn2 {
    height: 2%;
    padding: 0%;
    border: 0px solid black;
    background-color: transparent;
}

#pointsColumn {
    height: 31%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.banner {
    height: 20px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.handArea {
    width: 100%;
    height: 91%;
    position: relative;
    padding: 2%;
    background-color: tomato;
    border-radius: 5px;
}

.rowTable {
    height: 90%;
}

.diArea {
    width: 100%;
    height: 90%;
    position: relative;
    padding: 2%;
    background-color: peachpuff;
    text-align: center;
    border-radius: 15px;
}

.diAreaWrapup {
    width: 100%;
    height: 90%;
    position: relative;
    padding: 2%;
    background-color: peachpuff;
    text-align: center;
    border-radius: 15px;
}

.dummyArea {
    height: 5%;
}

.pointsArea {
    width: 100%;
    height: 67%;
    position: relative;
    padding: 1%;
    text-align: center;
    background-color: floralwhite;
    border: 1px dashed gray;
    border-radius: 5px;
}

.tableArea {
    float: left;
    width: 50%;
    height: 48%;
    position: relative;
    padding: 2%;
    text-align: center;
    border-radius: 5px;
}

.rowTableShadow{
    width: 100%;
    height: 96%;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: black;
    border-radius: 5px;
    opacity: 50%;
}

.tableBanner {
    width: 100%;
    height: 15px;
    position: relative;
}

.handle {
	cursor: pointer;
}
